.create-register-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.create-register-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 10px;
}

.create-register-content h2 {
  text-align: center;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.form-login-container input {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.form-login-container label {
  font-size: 0.8rem;
  font-weight: bold;
}

.btn-save-register {
  margin-top: 1rem;
  background-color: green;
  border: none;
  padding: 0.8rem 1.2rem;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-save-register:hover {
  opacity: 0.9;
}

.btnClose {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.4rem 0.8rem;
  border: 1px solid #000;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.btnClose:hover {
  background-color: #fff;
  color: red;
}